.home-container {
  width: 100%;
  display: flex;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #f7f4f2ff;
}
.home-feature-card {
  width: 100%;
  height: 454px;
  display: none;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.home-image {
  width: 50px;
  object-fit: cover;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-text {
  color: var(--dl-color-lp-orange);
  font-size: 36px;
  font-style: normal;
  text-align: center;
  font-family: PP Mori;
  font-weight: 700;
}
.home-form {
  width: 354px;
  height: 275px;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-textinput {
  flex: 1;
  color: var(--dl-color-grays-gray40);
  text-align: left;
  font-family: PP Mori;
  border-color: var(--dl-color-lp-orange);
  border-width: 2px;
  padding-left: 12px;
  padding-right: 12px;
}
.home-textinput1 {
  flex: 1;
  color: var(--dl-color-grays-gray40);
  margin-top: var(--dl-space-space-twounits);
  text-align: left;
  font-family: PP Mori;
  border-color: var(--dl-color-lp-orange);
  border-width: 2px;
  padding-left: 12px;
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: 12px;
}
.home-textinput2 {
  flex: 1;
  color: var(--dl-color-grays-gray40);
  text-align: left;
  font-family: PP Mori;
  border-color: var(--dl-color-lp-orange);
  border-width: 2px;
  padding-left: 12px;
  padding-right: 12px;
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-lp-purple);
}
.home-max-width {
  align-items: stretch;
}
.home-content-container {
  flex: 1;
  display: flex;
  min-width: 50%;
  align-items: flex-start;
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.home-text01 {
  width: 100%;
  font-size: 52px;
  font-style: normal;
  font-family: PP Mori;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 42px;
  text-transform: none;
  text-decoration: none;
}
.home-text02 {
  color: var(--dl-color-grays-white100);
  font-size: 64px;
  font-family: PP Mori;
}
.home-text03 {
  font-size: 64px;
  font-family: PP Mori;
}
.home-text04 {
  color: var(--dl-color-lp-orange);
  font-size: 64px;
  font-family: PP Mori;
}
.home-text05 {
  color: var(--dl-color-grays-white100);
  font-size: 64px;
  font-family: PP Mori;
}
.home-heading {
  color: var(--dl-color-grays-white100);
  width: 558px;
  font-size: 24px;
  font-family: PP Mori;
  line-height: 1.5;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-input-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
}
.home-container1 {
  width: 100%;
  height: 56px;
  display: flex;
  max-width: 376px;
  align-items: center;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-lp-orange);
  border-width: 2px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 32px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
}
.home-icon {
  fill: var(--dl-color-grays-gray40);
  width: 20px;
  height: 20px;
}
.home-textinput3 {
  flex: 1;
  color: var(--dl-color-grays-gray40);
  font-family: PP Mori;
  border-width: 0px;
  padding-left: 12px;
  padding-right: 12px;
}
.home-button {
  display: flex;
  align-items: center;
  font-family: PP Mori;
  line-height: 1;
  padding-top: 20px;
  white-space: nowrap;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 20px;
  justify-content: center;
  background-color: var(--dl-color-lp-orange);
}
.home-features-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 35px;
}
.home-feature {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.home-icon02 {
  fill: #62bf77;
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.home-text07 {
  color: var(--dl-color-grays-white100);
  font-size: 16px;
  font-style: normal;
  font-family: PP Mori;
  font-weight: 600;
}
.home-feature1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.home-icon04 {
  fill: #62bf77;
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.home-text08 {
  color: var(--dl-color-grays-white100);
  font-size: 16px;
  font-style: normal;
  font-family: PP Mori;
  font-weight: 600;
}
.home-feature2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.home-icon06 {
  fill: #62bf77;
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.home-text09 {
  color: var(--dl-color-grays-white100);
  font-size: 16px;
  font-style: normal;
  font-family: PP Mori;
  font-weight: 600;
}
.home-feature3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.home-icon08 {
  fill: #62bf77;
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.home-text10 {
  color: var(--dl-color-grays-white100);
  font-size: 16px;
  font-style: normal;
  font-family: PP Mori;
  font-weight: 600;
}
.home-image1 {
  width: 550px;
  max-width: 589px;
  object-fit: cover;
  margin-left: 45px;
}
.home-problem-section {
  border-color: rgba(33, 33, 33, 0.1);
  border-width: 1px;
  background-color: var(--dl-color-grays-white100);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-max-width1 {
  flex-direction: column;
}
.home-text11 {
  color: var(--dl-color-lp-orange);
  font-size: 42px;
  text-align: center;
  font-family: PP Mori;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-image2 {
  width: var(--dl-size-size-maxwidth);
  object-fit: cover;
}
.home-text14 {
  color: var(--dl-color-lp-gray);
  width: var(--dl-size-size-maxwidth);
  font-size: 18px;
  text-align: center;
  font-family: PP Mori;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
}
.home-solution-section {
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-grays-white100);
}
.home-text17 {
  color: var(--dl-color-lp-purple);
  font-size: 42px;
  text-align: center;
  font-family: PP Mori;
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-max-width2 {
  flex-direction: row;
  justify-content: center;
}
.home-image-container {
  width: 558px;
  align-self: center;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.home-image3 {
  width: 459px;
  height: 455px;
  object-fit: cover;
}
.home-content-container1 {
  flex: 1;
  display: flex;
  max-width: 446px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text20 {
  color: var(--dl-color-lp-orange);
  font-size: 42px;
  font-style: normal;
  font-family: Lexend;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 24px;
  text-transform: none;
  text-decoration: none;
}
.home-text21 {
  font-family: PP Mori;
}
.home-text23 {
  color: var(--dl-color-lp-gray);
  font-size: 16px;
  font-style: normal;
  font-family: PP Mori;
  font-weight: 400;
  line-height: 1.75;
  text-transform: none;
  text-decoration: none;
}
.home-max-width3 {
  padding-left: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: center;
}
.home-content-container2 {
  flex: 1;
  display: flex;
  max-width: 446px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text30 {
  color: var(--dl-color-lp-orange);
  font-size: 42px;
  margin-bottom: 24px;
}
.home-text31 {
  font-family: PP Mori;
}
.home-text33 {
  color: var(--dl-color-lp-gray);
  font-size: 16px;
  font-style: normal;
  font-family: PP Mori;
  font-weight: 400;
  line-height: 1.75;
  text-transform: none;
  text-decoration: none;
}
.home-image-container1 {
  width: 494px;
  margin-left: var(--dl-space-space-fiveunits);
}
.home-image4 {
  width: 520px;
  height: 455px;
  object-fit: cover;
}
.home-max-width4 {
  flex-direction: row;
  justify-content: center;
}
.home-image-container2 {
  width: 558px;
  align-self: center;
  margin-right: var(--dl-space-space-oneandhalfunits);
}
.home-image5 {
  width: 459px;
  height: 455px;
  object-fit: cover;
}
.home-content-container3 {
  flex: 1;
  display: flex;
  max-width: 446px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text40 {
  color: var(--dl-color-lp-orange);
  font-size: 42px;
  margin-bottom: 24px;
}
.home-text41 {
  font-family: PP Mori;
}
.home-text43 {
  color: var(--dl-color-lp-gray);
  font-size: 16px;
  font-style: normal;
  font-family: PP Mori;
  font-weight: 400;
  line-height: 1.75;
  text-transform: none;
  text-decoration: none;
}
.home-testimonials {
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.home-max-width5 {
  flex-direction: column;
}
.home-text50 {
  font-size: 42px;
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  font-family: Lexend;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: var(--dl-space-space-threeunits);
  text-transform: none;
  text-decoration: none;
}
.home-text51 {
  color: var(--dl-color-lp-orange);
  font-size: 56px;
  font-style: normal;
  font-family: PP Mori;
  font-weight: 600;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.home-text52 {
  color: var(--dl-color-lp-orange);
  font-size: 56px;
  font-style: normal;
  font-family: PP Mori;
  font-weight: 600;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.home-text53 {
  color: var(--dl-color-grays-white100);
  font-size: 42px;
  font-family: PP Mori;
}
.home-slider {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  transition: 0.5s;
  align-items: stretch;
  flex-direction: row;
}
.home-cta {
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: 0px;
  background-color: #29133f;
}
.home-max-width6 {
  align-items: stretch;
}
.home-content-container4 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text55 {
  color: rgb(33, 33, 33);
  font-size: 42px;
  font-style: normal;
  font-family: Lexend;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
.home-text56 {
  color: #ff661f;
}
.home-text57 {
  color: var(--dl-color-lp-gray);
  font-size: 42px;
  font-style: normal;
  font-family: Lexend;
  font-weight: 600;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.home-text58 {
  color: #ff661f;
  font-size: 42px;
  font-style: normal;
  font-family: Lexend;
  font-weight: 600;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.home-text59 {
  color: var(--dl-color-grays-white80);
  font-size: 16px;
  font-style: normal;
  font-family: Lexend;
  font-weight: 300;
  line-height: 1.75;
  margin-bottom: 36px;
  text-transform: none;
  text-decoration: none;
}
.home-text60 {
  font-size: 24px;
}
.home-text61 {
  font-size: 16px;
  font-style: normal;
  font-family: Lexend;
  font-weight: 300;
  line-height: 1.75;
  text-transform: none;
  text-decoration: none;
}
.home-input-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.home-container2 {
  width: 100%;
  height: 56px;
  display: flex;
  max-width: 376px;
  align-items: center;
  line-height: 1.5;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  margin-right: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 32px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
}
.home-icon10 {
  fill: var(--dl-color-grays-gray40);
  width: 20px;
  height: 20px;
}
.home-textinput4 {
  flex: 1;
  color: var(--dl-color-lp-gray);
  font-family: PP Mori;
  border-width: 0px;
  padding-left: 12px;
  padding-right: 12px;
}
.home-button1 {
  display: flex;
  transition: 0.3s;
  align-items: center;
  font-family: PP Mori;
  line-height: 1;
  padding-top: 20px;
  white-space: nowrap;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 20px;
  justify-content: center;
  background-color: var(--dl-color-lp-purple);
}
.home-button1:hover {
  background-color: var(--dl-color-grays-white100);
}
.home-features-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 35px;
}
.home-feature4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.home-icon12 {
  fill: var(--dl-color-grays-white100);
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.home-text62 {
  color: var(--dl-color-grays-white100);
  font-size: 14px;
  font-style: normal;
  font-family: PP Mori;
  font-weight: 600;
}
.home-feature5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.home-icon14 {
  fill: var(--dl-color-grays-white100);
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.home-text63 {
  color: var(--dl-color-grays-white100);
  font-size: 14px;
  font-style: normal;
  font-family: PP Mori;
  font-weight: 600;
}
.home-feature6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.home-icon16 {
  fill: var(--dl-color-grays-white100);
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.home-text64 {
  color: var(--dl-color-grays-white100);
  font-size: 14px;
  font-style: normal;
  font-family: PP Mori;
  font-weight: 600;
}
.home-feature7 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}
.home-icon18 {
  fill: var(--dl-color-grays-white100);
  width: 17px;
  height: 17px;
  min-width: 17px;
  margin-right: 12px;
}
.home-text67 {
  color: var(--dl-color-grays-white100);
  font-size: 14px;
  font-style: normal;
  font-family: PP Mori;
  font-weight: 600;
}
.home-image-container3 {
  width: 490px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.home-image6 {
  width: 531px;
  height: 450px;
  object-fit: cover;
}
.hr-last-main {
  margin: 0;
}
@media (max-width: 991px) {
  .home-hero {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-max-width {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-content-container {
    width: 609px;
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-image1 {
    width: 496px;
    height: 607px;
    max-width: 100%;
    margin-left: 0px;
  }
  .home-image2 {
    width: 900px;
  }
  .home-text14 {
    width: 900px;
  }
  .home-image-container {
    width: 438px;
  }
  .home-image3 {
    width: 411px;
    height: 416px;
    max-width: 100%;
    margin-left: 0px;
  }
  .home-content-container1 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-content-container2 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-text30 {
    width: 100%;
  }
  .home-image-container1 {
    width: 438px;
  }
  .home-image4 {
    width: 411px;
    height: 416px;
    max-width: 100%;
    margin-left: 0px;
  }
  .home-image-container2 {
    width: 438px;
  }
  .home-image5 {
    width: 411px;
    height: 416px;
    max-width: 100%;
    margin-left: 0px;
  }
  .home-content-container3 {
    margin-bottom: 42px;
    padding-right: 0px;
  }
  .home-text40 {
    width: 100%;
  }
  .home-max-width6 {
    flex-direction: column;
  }
  .home-image6 {
    width: 894px;
    height: 585px;
  }
  .home-features-container1 {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .home-max-width {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-heading {
    width: 100%;
  }
  .home-image1 {
    width: var(--dl-size-size-xxlarge);
    height: auto;
  }
  .home-text02 {
    font-size: 55px;
  }
  .home-text04 {
    font-size: 55px;
  }
  .home-text11 {
    font-size: 36px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-image2 {
    width: 700px;
  }
  .home-text14 {
    width: 700px;
    font-size: 16px;
  }
  .home-text17 {
    font-size: 36px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-max-width2 {
    flex-direction: row;
  }
  .home-image-container {
    width: 211px;
    margin-right: 0px;
  }
  .home-image3 {
    width: 191px;
    height: 244px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-content-container1 {
    max-width: 100%;
  }
  .home-max-width3 {
    flex-direction: row;
  }
  .home-content-container2 {
    max-width: 100%;
  }
  .home-image-container1 {
    width: 211px;
    margin-right: 0px;
  }
  .home-image4 {
    width: 191px;
    height: 244px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-max-width4 {
    flex-direction: row;
  }
  .home-image-container2 {
    width: 211px;
    margin-right: 0px;
  }
  .home-image5 {
    width: 191px;
    height: 244px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-content-container3 {
    max-width: 100%;
  }
  .home-image6 {
    width: 683px;
  }
}
@media (max-width: 479px) {
  .home-max-width {
    align-items: flex-start;
    flex-direction: column;
  }
  .home-content-container {
    width: 100%;
  }
  .home-heading {
    width: 100%;
  }
  .home-input-container {
    flex-direction: column;
  }
  .home-container1 {
    max-width: 100%;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image1 {
    width: 431px;
    height: 323px;
  }
  .home-text11 {
    font-size: 36px;
  }
  .home-image2 {
    width: 100%;
  }
  .home-text14 {
    width: 400px;
  }
  .home-text17 {
    font-size: 36px;
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
  }
  .home-max-width2 {
    flex-direction: column;
  }
  .home-text20 {
    text-align: center;
  }
  .home-image-container {
    width: 286px;
    height: 305px;
  }
  .home-image3 {
    width: 100%;
    height: 247px;
  }
  .home-text23 {
    text-align: justify;
  }
  .home-max-width3 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-text30 {
    text-align: center;
  }
  .home-text33 {
    text-align: justify;
  }
  .home-image-container1 {
    width: 286px;
    height: 305px;
    margin-left: 0px;
  }
  .home-image4 {
    width: 334px;
    height: 247px;
  }
  .home-max-width4 {
    flex-direction: column;
  }
  .home-image-container2 {
    width: 286px;
    height: 305px;
  }
  .home-image5 {
    width: 100%;
    height: 247px;
  }
  .home-text40 {
    text-align: center;
  }
  .home-text43 {
    text-align: justify;
  }
  .home-input-container1 {
    flex-direction: column;
  }
  .home-container2 {
    max-width: 100%;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-image6 {
    width: 94%;
    height: 50vh;
  }
  .home-image-container3 {
    width: 100%;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
  }
}
