.copyright-copyright {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-lp-purple);
}
.copyright-max-width {
  align-items: stretch;
  justify-content: center;
  margin-left: 50px;
}
.copyright-text {
  color: var(--dl-color-lp-orange);
  font-size: 14px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: PP Mori;
  font-weight: 300;
  line-height: 1.5;
}
@media(max-width: 991px) {
  .copyright-max-width {
    flex-direction: column;
    margin-left: 0;
  }
}
