.footer-footer {
  border-color: rgba(33, 33, 33, 0.1);
  border-width: 1px;
  background-color: #29133F;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.footer-max-width {
  justify-content: space-between;
}
.footer-container {
  flex: 0 0 auto;
  width: var(--dl-size-size-maxwidth);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.footer-image {
  width: 461px;
  height: 65px;
  margin-bottom: var(--dl-space-space-twounits);
}
.footer-text {
  color: var(--dl-color-grays-gray100);
  font-size: 16px;
  max-width: 400px;
  font-style: normal;
  text-align: center;
  font-family: Lexend;
  font-weight: 300;
  line-height: 1.75;
  margin-bottom: 60px;
  text-transform: none;
  text-decoration: none;
}
.footer-text1 {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-family: Lexend;
  font-weight: 300;
  line-height: 1.75;
  text-transform: none;
  text-decoration: none;
}
.footer-text2 {
  color: white;
  font-family: PP Mori;
}
.footer-social-media {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-text4 {
  color: #FF661F;
  font-size: 18px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: PP Mori;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.footer-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.footer-link {
  display: contents;
}
.footer-icon {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-link1 {
  display: contents;
}
.footer-icon2 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.footer-icon2:hover {
  fill: #fa7930ff;
  cursor: pointer;
}
.footer-link2 {
  display: contents;
}
.footer-icon6 {
  width: 24px;
  height: 24px;
  transition: 0.3s;
  text-decoration: none;
}
.footer-icon6:hover {
  fill: #fa7930ff;
  cursor: pointer;
}
.footer-root-class-name {
  background-color: #29133F;
}
@media(max-width: 991px) {
  .footer-max-width {
    flex-direction: column-reverse;
  }
  .footer-container {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .footer-image {
    width: 365px;
    height: 51px;
  }
}
